{% extends "base.html" %}
{% block body %}
    <header class="header-landing">
        <!-- <div class="logo-container">
            <img src="#" alt="" class="logo-img">
        </div> -->
        <span class="header-app-name">
            {{ app_name.upper() }}
        </span>
        {% include "components/navbar.html" %}
    </header>
    <h1 class="title">Calculadora</h1>
    <div class="calc">
    <form method="POST">
        <label>¿Cuantas personas hay en el hogar?</label>
        <select name="people" required> 
            <option value="1">1</option> 
            <option value="2">2</option>
            <option value="4">4</option> 
        </select>
        <label>¿Cuanto ingresa en el hogar?</label>
        <input name="income" min="1" max="4000000" type="number" required>
        <input type="submit"> 
    </form>
 
{% endblock body%}