{% extends "base.html" %}

{% block body %}
    {% include "components/headerPage.html" %}
    <main class="main-market">
        <section class="main-section-desc">
            <img src="{{ url_for('static', filename='img/charts/comparation_chart.png') }}" alt="Gráfico comparativo" class="landing-main-logo">
            
            <div class="form-container">
                <form action="/comparation" method="POST" class="form-values">
                    <h2>Comparar Productos</h2>
                    <label for="area1">Producto 1:</label>
                    <select name="area1" id="area1">
                        {% for option in select_values.products.options %}
                            <option value="{{ option }}" {% if option == select_values.products.option_selected_1 %}selected{% endif %}>
                                {{ option }}
                            </option>
                        {% endfor %}
                    </select>

                    <h2>Comparar Campañas Aceptadas</h2>
                    <label for="accept1">Campaña 1:</label>
                    <select name="accept1" id="accept1">
                        {% for option in select_values.accepted.options %}
                            <option value="{{ option }}" {% if option == select_values.accepted.option_selected_1 %}selected{% endif %}>
                                {{ option }}
                            </option>
                        {% endfor %}
                    </select>

                    <button type="submit" class="btn-compare">Comparar</button>
                </form>
            </div>
        </section>
    </main>
{% endblock body %}
