{% extends "base.html" %}

{% block body %}
{% include "components/headerPage.html" %}
<main class="main-landing">
    <section class="main-section-desc">
        <div class="chart-container">
            <img id="gastos-chart" src="{{ url_for('plot_gastos',
                                 type=current_view_type,
                                 year=current_year,
                                 compare_year=request.args.get('compare_year'), 
                                 category=request.args.get('category') 
                                 ) }}" alt="Gráfico de Gastos Anuales/Mensuales"
                style="max-width: 100%; height: auto; display: block; margin: 20px auto;">
        </div>
        <div class="controls-container">
                <div class="title-section">
        <h1>Fluctuación de Gastos</h1>
        <p>Selecciona una opción para visualizar tus gastos.</p>
    </div>
            <h3>Seleccionar Año(s)</h3>
            <div class="button-group">
                {% for year_key in available_years %}
                <a href="{{ url_for('mostrar_fluctuacion', year=year_key, type=current_view_type) }}"
                    class="button {% if current_year == year_key %}active{% endif %}">
                    {{ year_key }}
                </a>
                {% endfor %}
                {% if current_view_type == 'anual' %}
                {% set previous_year = (current_year | int - 1) | string %}
                {% if previous_year in available_years %}
                <a href="{{ url_for('mostrar_fluctuacion', year=current_year, compare_year=previous_year, type='anual') }}"
                    class="button {% if request.args.get('compare_year') == previous_year and current_view_type == 'anual' %}active{% endif %}">
                    {{ current_year }} vs {{ previous_year }}
                </a>
                {% endif %}
                {% endif %}
            </div>

            <h3>Vista</h3>
            <div class="button-group">
                <a href="{{ url_for('mostrar_fluctuacion', type='anual', year=current_year) }}"
                    class="button {% if current_view_type == 'anual' %}active{% endif %}">
                    Anual
                </a>
                <a href="{{ url_for('mostrar_fluctuacion', type='mensual', year=current_year) }}"
                    class="button {% if current_view_type == 'mensual' %}active{% endif %}">
                    Mensual
                </a>
            </div>

            {% if current_view_type == 'mensual' %}
            <h3>Seleccionar Categoría (Mensual)</h3>
            <div class="button-group">
                {% for cat in available_categories %}
                <a href="{{ url_for('mostrar_fluctuacion', type='mensual', year=current_year, category=cat) }}"
                    class="button {% if request.args.get('category') == cat %}active{% endif %}">
                    {{ cat }}
                </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock body %}