{% extends "base.html" %}

{% block body %}
    {% include "components/headerPage.html" %}
    <main class="main-landing">
        <section class="main-section-desc">
            <img src="{{ url_for('static', filename='img/landing_logo.svg') }}" alt="" class="landing-main-logo">
            <div class="desc-container">
                <h1 class="desc-title">
                    EMPIEZA A GESTIONAR TUS GASTOS CON {{ app_name.upper() }}!
                </h1>
                <span class="desc-content">
                    ¡Bienvenidos a <strong>App Market</strong>! Con esta aplicación vas a tener todos los datos por gestionar en un solo lugar, organizados y accesibles. <strong>Gestiona mejor, vivi más tranquilo.</strong>
                </span>
            </div>
        </section>
    </main>
{% endblock body%}