{% extends "base.html" %}

{% block title %} {{ app_section }} - {{ app_name }} {% endblock title%}

{% block body %}
    <header class="header-landing">
        <div class="logo-container">
            <img src="#" alt="" class="logo-img">
        </div>
        {% include "components/navbar.html" %}
    </header>
    <main class="main-header">
        <h1>Welcome to app-market</h1>
    </main>
    <footer class="footer-landing">
        Todos los derechos reservados
    </footer>

    <script src="{{ url_for('static', filename='js/actions.js') }}"></script>
{% endblock body%}