{% extends "base.html" %}

{% block body %}
    {% include "components/headerPage.html" %}
    <main class="main-landing">
        <section class="main-section-upfile">
            <form action="" method="POST" enctype="multipart/form-data" class="form-upload-file">
                <label for="csv" class="upload-label">Subí un archivo CSV:</label>
                <input type="file" name="csv_file" accept=".csv" class="csv-input" required />
                <button type="submit" class="btn-upload-csv">CARGAR ARCHIVO</button>
            </form>
        </section>
    </main>
{% endblock body%}