{% extends "base.html" %}

{% block body %}
    <header class="header-landing">
        <!-- <div class="logo-container">
            <img src="#" alt="" class="logo-img">
        </div> -->
        <span class="header-app-name">
            {{ app_name.upper() }}
        </span>
        {% include "components/navbar.html" %}
    </header>
    <main class="main-market">
        <section class="main-section-desc">
            <img src="{{ url_for('static', filename='img/charts/mtn_prods_chart.png') }}" alt="" class="landing-main-logo">
            <div class="form-container">
                <form action="/market" method="GET" class="form-values">
                    {% for value_id, select_options in select_values.items() %}
                        {% include "./components/selects.html" %}
                    {% endfor %}
                    <button type="submit" class="btn-compare">Comparar</button>

                </form>
            </div>
        </section>
    </main>

    <script src="{{ url_for('static', filename='js/actions.js') }}"></script>
{% endblock body%}