{% extends "base.html" %}

{% block body %}
    {% include "components/headerPage.html" %}
    <main class="main-landing">
        <section class="main-section-desc">
            <img src="{{ url_for('static', filename='img/charts/mtn_unic_prod_chart.png') }}" alt="" class="landing-main-logo">
            <div class="desc-container">
                <h1 class="desc-title">
                    EMPIEZA A GESTIONAR TUS GASTOS CON {{ app_name.upper() }}!
                </h1>
                <span class="desc-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, illo, velit quaerat at eius enim, eum accusantium consequuntur tenetur inventore quis doloremque recusandae! Vero provident molestias pariatur voluptates! Fugit, delectus.
                </span>
            </div>
        </section>
    </main>
{% endblock body%}