{% extends "base.html" %}

{% block body %}
    {% include "components/headerPage.html" %}
    <main class="main-landing">
        <section class="main-section-desc" style="position: relative;">
            <a href="/market" class="btn-back-page">Volver</a>
            <img src="{{ url_for('static', filename='img/charts/mtn_unic_prod_chart.png') }}" alt="" class="landing-main-logo">
            <div class="desc-container">
                <h1 class="desc-title">
                    INFORMACION DETALLADA DE: {{ app_section.upper() }}
                </h1>
                <section class="desc-data">
                    {% for label, value in data.items() %}
                        {% include "components/dataGroup.html" %}
                    {% endfor %}
                </section>

            </div>
        </section>
    </main>
{% endblock body%}