.d-flex {
    display: flex!important;
}
.d-none {
    display: none!important;
}

.show-btn-navbar {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60px;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.hide-btn-navbar {
    background: transparent;
    border: none;
    cursor: pointer;
    text-align: start;
    padding-left: 1rem;
    color: white;
}

.r-navbar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0px;
    display: grid;
    grid-template-rows: 10% 1fr;
    overflow: hidden;
    background: var(--bg-color-navbar);
    transition: all 0.2s ease-in-out;
}

.r-navbar-links {
    display: flex;
    flex-direction: column;
}

a.r-navbar-link {
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding-left: 1rem;
    text-decoration: none;
    color: #eaeaea;
    font-size: 0.9em;
    transition: all 0.2s ease-in-out;
}

a.r-navbar-link:hover {
    color: blue;
    background-color: #eaeaea;
}

.deploid {
    width: 180px;
}

@media screen and (max-width: 780px) {
    nav.navbar {
        display: none;
    }
    .show-btn-navbar{
        display: flex;
    }

    section.main-section-desc {
        height: 32rem;
        width: 92%;
        display: grid!important;
        grid-template-columns: 1fr;
        grid-template-rows: 60% 40%;
        margin: 2rem 0rem;
        img {
            margin: auto!important;
            width: 100%!important;
        }
    }

    img.landing-main-logo {
        height: 90%;
    }

    div.desc-container {
        padding: 0rem 1rem 0rem 1rem;
    }
    section.main-section-desc.personal-desc{
        grid-template-rows: 20% 80%;
    }
    div.personal-section {
        grid-template-rows: 100%;
        grid-template-columns: 80% 20%;
    }
    div.card {
        padding-left: 1rem;
    }
    section.main-section-desc.fluctuation-section{
        height: 100%;
        width: 100%;
        display: flex!important;
        flex-direction: column-reverse;
        justify-content: start;
        align-items: start;
        padding: 0rem;
        box-shadow: none;
        padding-left: 1rem;
        margin: 0;
    }
    div.chart-container {
        width: 90%;
        height: 270px;
        
        img#gastos-chart {
            width: 90%!important;
            height: 90%!important;
            margin: 0!important;
        }
    }
    .desc-container.cpm_section{
        max-height: 25rem;
    }
    section.desc-data {
        min-height: 6rem;
        gap: 0.5rem;
        flex-direction: row;
        flex-wrap: wrap;
    }
    img.img {
        max-height: 340px;
        object-fit: contain;
    }
}

@media screen and (max-width: 480px) {

    section.main-section-desc {
        height: 38rem;
        width: 90%;
        margin: 0;
        box-shadow: none;
        
        div.desc-container {
            padding: 0rem;
        }
    }
    section.main-section-upfile {
        form.form-upload-file {
            box-shadow: none;
        }
    }
    
}