@import url('vars.css');
@import url('responsive.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 70px auto 30px;
}

footer {
    width: 100%;
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    color: #eeeeee;
}
header.header-landing {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    background: var(--bg-color-navbar);
}

span.header-app-name {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
    letter-spacing: 0.1rem;
}

.logo-container {
    height: 100%;
    width: auto;
}

.navbar {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

a.navbar-link {
    text-decoration: none;
    color: #242424;
    font-size: 0.9em;
    position: relative;
    color: white;
}

a.navbar-link::after {
    position: absolute;
    content: '';
    bottom: -2px;
    left: -5%;
    height: 1px;
    width: 0%;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

a.navbar-link:hover::after {
    width: 110%;
}

main.main-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.main-section-desc {
    height: 30rem;
    width: 90%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    margin: auto;
    border-radius: 0.6rem;
    box-shadow: 3px 3px 11px #d1d1d1;
}

.desc-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-right: 1rem;
}

h1.desc-title {
    font-size: 1.6em;
    color: #004ae9;
    font-weight: 700;
}

img.landing-main-logo {
    width: 75%;
    margin: auto;
}

form.form-upload-file {
    height: 60%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #f9f9f9;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px #b9b9b9;

    label.upload-label {
        font-size: 1.6em;
        font-weight: 500;
        color: #023e8a;
    }
    input.csv-input {
        width: 60%;
        background: #115dbe;
        padding: 1rem 0.8rem;
        border-radius: 0.5rem;
        color: white;
    }
    button.btn-upload-csv {
        height: 3em;
        width: 60%;
        background: #023e8a;
        color: white;
        border-radius: 0.3rem;
    }
}

section.main-section-upfile {
    height: 100%;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.main-market {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    .main-section-desc {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img.landing-main-logo {
        height: 100%;
        width: 65%;
        margin: 0;
        object-fit: contain;
    }
    .form-container {
        height: 100%;
    }
    form.form-values {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        label.form-select-label {
            height: 2em;
            font-size: 1.1em;
            font-weight: 500;
            color: #023e8a;
        }
        select.form-select {
            height: 2.3em;
            width: 100%;
            border: 1px solid #8080807d;
            border-radius: 0.3rem;
            cursor: pointer;
        }
        button.btn-compare {
            height: 2.3em;
            width: 100%;
            background: #023e8a;
            color: white;
            font-size: 0.8em;
            border: none;
            cursor: pointer;
            margin-top: 1rem;
        }
    }
}