<div class="select-with-icon">
    <div class="select-group">
        <label for="{{ value_id }}" class="form-select-label">Elige las areas a comparar:</label>
        <select id="{{ value_id }}" name="{{ value_id }}" class="form-select">
            {% for option in select_options.options %}
                {% if select_options.option_selected == option %}
                    <option value="{{ option }}" selected>{{ option }}</option>
                {% else %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <a href="/info?vid={{select_options.option_selected}}" class="a-info">
        <i class="material-symbols-outlined icon-info">
            info
        </i>
        <div class="a-info-text-hidden">
            {{ select_options.option_selected }}
        </div>
    </a>
</div>